name: Reusable Label Sync

on:
  workflow_call:
    inputs:
      operating-system:
        description: The operating system to use (default `ubuntu-latest`)
        required: false
        default: ubuntu-latest
        type: string
      with-submodules:
        description: Whether to include submodules when checking out the repository (default `false`)
        required: false
        default: 'false'
        type: string
      repository:
        description: The repository to get the labels.yml file from
        required: false
        default: Jaronline/.github
        type: string

jobs:
  label-sync:
    name: Label sync
    runs-on: ${{ inputs.operating-system }}
    permissions:
      contents: read
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          sparse-checkout: .github/labels.yml
          sparse-checkout-cone-mode: false
          repository: ${{ inputs.repository }}
          submodules: ${{ inputs.with-submodules }}
      - name: Run Label Sync
        uses: Compairifuel/.github/actions/labelsync@main
